<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <Section class="container">
        <div class="main_border" style="text-align: left; padding-bottom: 94px; height: 100%;">
         <div class="flow">
            <h1 style="text-align: center;">LITReview</h1>
            <ul>
                <li><a href="">Flow</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Subscription Log Out</a></li>
            </ul>
         </div>
        <div class="" >
            <div class="from_sec" style="border-bottom: 1px solid #000;">
                <h4 style="text-align: center
                ;">Create a ticket</h4>
           <div >
            <form >
                <h4>Book/Article</h4>
                <div>
                    <label for="">Title</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Description</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div>
                    <label for="" style="margin-bottom: 20px;">Picture</label>
                    <a href="" style="margin-left: 0;">Download File</a>
                </div>
                <div class="send" style="margin-top: 20px; margin-bottom: 50px;">
                    <a href="">Send</a>
                </div>
                </form>
           </div>
             </div>
             <div class="from_sec" >
                <h4 style="text-align: center
                ;">Create a ticket</h4>
             
                <h4>Critical</h4>
                <div>
                    <form action="">
                        <div>
                            <label for="">Title</label>
                            <input type="text">
                        </div>
                        <div class="radio_note">
                            <label for="">Note</label>
                            <ul style="padding: 0;">
                                <li>
                                   
                                      <input type="radio" id="Zero" name="fav_language" value="HTML">
                                      <label for="Zero">0</label>
                                </li>
                                <li>
                                   
                                      <input type="radio" id="one" name="fav_language" value="HTML">
                                      <label for="one">-1</label>
                                </li>
                                <li>
                                    
                                      <input type="radio" id="two" name="fav_language" value="HTML">
                                      <label for="two">-2</label>
                                </li>
                                <li>
                                   
                                      <input type="radio" id="three" name="fav_language" value="HTML">
                                      <label for="three">-3</label>
                                </li>
                                <li>
                                   
                                      <input type="radio" id="four" name="fav_language" value="HTML">
                                      <label for="four">-4</label>
                                </li>
                                <li>
                                   
                                      <input type="radio" id="five" name="fav_language" value="HTML">
                                      <label for="five">-5</label>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <label for="">Comment</label>
                            <textarea name="" id="" cols="30" rows="10" style="margin-bottom: 30px;"></textarea>
                        </div>
                        
                        <div class="send">
                            <a href="">Send</a>
                        </div>
                    </form>
                </div>
             </div>
        </div>
          </form>
          
          
          
        </div>
    </Section>
</body>
</html>