<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="custom.css">
</head>
<body>
    <Section class="container">
        <div class="main_border" style="text-align: left;">
         <div class="flow">
            <h1 style="text-align: center;">LITReview</h1>
            <ul>
                <li><a href="">Flow</a></li>
                <li><a href="">Posts</a></li>
                <li><a href="">Subscription Log Out</a></li>
            </ul>
         </div>
         <div class="from_sec">
            <h4 style="text-align: center
            ;">Create a ticket</h4>
          <form ">
            <div>
                <label for="">Title</label>
                <input type="text">
            </div>
            <div>
                <label for="">Description</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
            <div>
                <label for="" style="margin-bottom: 20px;">Picture</label>
                <a href="" style="margin-left: 0;">Download File</a>
            </div>
            <div class="send">
                <a href="">Send</a>
            </div>
         </div>
          </form>
          
          
          
        </div>
    </Section>
</body>
</html>