{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'book/custom.css' %}">
</head>

<body>
  <Section class="container">
    <div class="main_border">
      <h1>LITReview</h1>
      <form method="post" action="{% url 'register' %}">
        <p>Register</p>
        <div>
          <input type="text" id="username" placeholder="Username">
        </div>
        <div>
          <input type="password" id="password" placeholder="Password">
        </div>
        <div>
          <input type="password" id="confirmPassword" placeholder="Confirm Password">
        </div>
        <div class="btn_sec">
{#            <button>Return</button>>#}
            <button type="submit">Register</button>
        </div>
      </form>
    </div>
  </Section>
{#  <script src="constant.js"></script>#}
{#  <script>#}
{#    function register() {#}
{#      var username = document.getElementById('username').value;#}
{#      var password = document.getElementById('password').value;#}
{#      var confirmPassword = document.getElementById('confirmPassword').value;#}
{#      console.log(username, password, "console")#}
{#      if (password.length < 8) {#}
{#        alert('Password should be at least 8 characters long.');#}
{#        return;#}
{#      }#}
{#      // Check password complexity#}
{#      var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]/;#}
{#      if (!passwordRegex.test(password)) {#}
{#        alert('Password should include at least one lowercase letter, one uppercase letter, one digit, and one special character.');#}
{#        return;#}
{#      }#}
{##}
{#      // Check if passwords match#}
{#      if (password !== confirmPassword) {#}
{#        alert('Passwords do not match. Please enter matching passwords.');#}
{#        return;#}
{#      }#}
{##}
{#      // Make a fetch request to the login endpoint#}
{#      fetch(`${Host}registration/`, {#}
{#        method: 'POST',#}
{#        headers: {#}
{#          'Content-Type': 'application/json',#}
{#        },#}
{#        body: JSON.stringify({#}
{#          username: username,#}
{#          password: password,#}
{#        }),#}
{#      })#}
{#        .then(response => {#}
{#          // Check if the response is successful (status code 2xx)#}
{#          if (response.ok) {#}
{#            // Redirect to a success page or perform other actions#}
{#            window.location.href = 'login.html';#}
{#          } else {#}
{#            // Handle unsuccessful login (e.g., display an error message)#}
{#            alert('Login failed. Please check your credentials.');#}
{#          }#}
{#        })#}
{#        .catch(error => {#}
{#          console.error('Error during login:', error);#}
{##}
{#        });#}
{#    }#}
{#  </script>#}
</body>

</html>