<html>
   <div style="color:#333333;font-size:14px;font-weight:normal;line-height:20px;margin:20px">
      <p align="left" style="color:#222222;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left">
         Dear {{name}},
      </p>
       <p align="left" style="color:#222222;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left">
         We have received a request to reset the password for your account with Book Feed. To proceed with the password reset process, please verify your identity using the One-Time Password (OTP) provided below:
      </p>
      <p align="left" style="color:#222222;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left">
         OTP: <b>{{otp}}</b>
      </p>
       <p align="left" style="color:#222222;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left">
         Please note that the OTP is valid for 15 minutes. If you do not complete the verification process within this timeframe, you may need to request a new OTP.
      </p>
       <p align="left" style="color:#222222;font-family:'Helvetica','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:19px;margin:0 0 10px;padding:0;text-align:left">
         If you did not request a password reset or believe this email was sent in error, please disregard it.
      </p>
         <br>
         Regards,<br>
         Team Book Feed
   </div>
</html>